{
    "ConsoleLogging": 
    {
        "IncludeScopes": false,
        "LogLevel": 
        {
            "Default": "Debug",
            "System": "Information",
            "Microsoft": "Information"
        }
    },
	"SystemLog": {
		"MinimumLevel": {
			"Default": "Debug",
			"Override": {
				"System": "Information",
				"Microsoft": "Information"
			}
		},
		"WriteTo": [
			{
				"Name": "LiterateConsole"
			},
			{
				"Name": "Elasticsearch",
				"Args": {
                    "nodeUris": "%%log.elastic.system.url%%",
                    "indexFormat": "logstash-system-starterkit-{0:yyyy.MM.dd}",
                    "templateName": "starterkit-template",
                    "typeName": "SystemLogEvent",
                    "batchPostingLimit": 50,
                    "period": 2000,
                    "bufferBaseFilename": "%%log.elastic.system.bufferpath%%",
                    "bufferFileSizeLimitBytes": 20971520,
                    "bufferLogShippingInterval": 5000,
                    "minimumLogEventLevel": "Information"
				}
			}
		],
		"Enrich": [ "FromLogContext" ]
	},
	"ApplicationLog": {
		"MinimumLevel": {
			"Default": "Debug",
			"Override": {
				"System": "Information",
				"Microsoft": "Information"
			}
		},
		"WriteTo": [
			{
				"Name": "Elasticsearch",
				"Args": {
                    "nodeUris": "%%log.elastic.application.url%%",
                    "indexFormat": "logstash-application-starterkit-{0:yyyy.MM.dd}",
                    "templateName": "starterkit-template",
                    "typeName": "AppLogEvent",
                    "batchPostingLimit": 50,
                    "period": 2000,
                    "bufferBaseFilename": "%%log.elastic.application.bufferpath%%",
                    "bufferFileSizeLimitBytes": 20971520,
                    "bufferLogShippingInterval": 5000,
                    "minimumLogEventLevel": "Information"
				}
			}
		],
		"Enrich": [ "FromLogContext" ]
	}
}