{
	"Service1": {
        "AuthScheme": "%%user.service1.auth%%",
        "Domain": "%%user.service1.auth.basic.domain%%",
		"User": "%%user.service1.auth.basic.user%%",
		"Password": "%%user.service1.auth.basic.password%%",
		"Scheme": "%%user.service1.scheme%%",
        "Host": "%%user.service1.host%%",
        "Port": "%%user.service1.port%%",
		"Path": "%%user.service1.path%%"
	},
	"Service2": {
        "AuthScheme": "%%user.service2.auth%%",
        "Domain": "%%user.service2.auth.basic.domain%%",
		"User": "%%user.service2.auth.basic.user%%",
		"Password": "%%user.service2.auth.basic.password%%",
		"Scheme": "%%user.service2.scheme%%",
        "Host": "%%user.service2.host%%",
        "Port": "%%user.service2.port%%",
		"Path": "%%user.service2.path%%"
	}
}
