<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="myget digipolisantwerp" value="https://www.myget.org/F/digipolisantwerp/api/v3/index.json" />
	<add key="Nexus repo" value="https://nexusrepo.antwerpen.be/repository/nuget-private/" />
  </packageSources>
</configuration>
