<!DOCTYPE html>
<html>
<head>
	<title>StarterKit</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

	<!-- include: "type": "css", "files": ["lib/bootstrap/css/bootstrap.css", "css/*.css", "lib/font-awesome/css/*.css", "!lib/bootstrap/css/*.min.css", "!css/*.min.css", "!lib/font-awesome/css/*.min.css"] -->
	<!-- include: "type": "css", "files": ["css/ui-select/*.css"] -->

</head>
<body ng-app="theApp">
    <div ui-view></div>

	<!-- JQuery + plugin scripts -->
	<!-- include: "type": "js", "files": ["lib/jquery/js/*.js", "lib/jquery-validation/js/jquery.validate.js", "!lib/jquery-validation/js/additional-methods.js", "lib/jquery-validation-unobtrusive/js/*.js", "!lib/**/*.min.js"] -->
	<!-- Angular + plugin scripts-->
	<!-- include: "type": "js", "files": ["lib/angular/js/angular.js", "lib/angular-*/js/angular*.js", "lib/angular.*/js/angular*.js", "!lib/**/*.min.js"] -->
	<!-- Bootstrap -->
	<!-- include: "type": "js", "files" : ["lib/modernizr/js/*.js", "!lib/**/*.min.js"] -->
	<!-- include: "type": "js", "files" : ["lib/bootstrap/js/bootstrap.js", "!lib/**/*.min.js"] -->
	<!-- include: "type": "js", "files" : ["lib/respond/js/*.js"] -->
	<!-- include: "type": "js", "files" : ["lib/detect-element-resize/js/*.js", "!lib/**/*.min.js"] -->
	<!-- include: "type": "js", "files" : ["lib/ui-bootstrap/js/ui-bootstrap-tpls.js", "!lib/**/*.min.js"] -->
	<!-- App -->
	<!-- include: "type": "js", "files": ["app/app.js", "app/shared/**/*.js", "app/**/*.js"] -->
	<!-- Custom -->
	<!-- include: "type": "js", "files" : ["lib/slimscroll/js/*.js"] -->
	<!-- include: "type": "js", "files" : ["lib/ckeditor/ckeditor.js"] -->
	<!-- include: "type": "js", "files" : ["lib/underscore/js/underscore.js"] -->
	<!-- include: "type": "js", "files" : ["lib/uri.js/js/*.js"] -->
</body>
</html>
