node_modules
coverage
npm-debug.log

generators/app/templates/test/FOOBAR.IntegrationTests/bin/
generators/app/templates/test/FOOBAR.IntegrationTests/obj/
generators/app/templates/test/FOOBAR.UnitTests/bin/
generators/app/templates/test/FOOBAR.UnitTests/obj/

generators/app/templates/src/FOOBAR/C:
generators/app/templates/src/FOOBAR/wwwroot
generators/app/templates/src/FOOBAR/bin/
generators/app/templates/src/FOOBAR/obj/

.vscode/
.vs/
.idea/
generators/app/templates/.editorconfig
