node_modules
coverage
npm-debug.log

generators/app/templates/src/StarterKit/bin/
generators/app/templates/src/StarterKit/obj/
generators/app/templates/test/StarterKit.IntegrationTests/bin/
generators/app/templates/test/StarterKit.IntegrationTests/obj/
generators/app/templates/test/StarterKit.UnitTests/bin/
generators/app/templates/test/StarterKit.UnitTests/obj/

.vscode/
.vs/
