(function () {

	'use strict';

	angular.module('theApp').constant('AppConfig', {
		appName: "starterkit",
		templateUrl: "",
		enableLogging: "%%app.enablelogging%%",
		enableDebug: "%%app.enabledebug%%",
		apiUser: "%%app.apiuser.domain%%" + "\\" + "%%app.apiuser.userid%%" + ":" + "%%app.apiuser.password%%",
		apiRoot: "%%app.apiroot.uri.scheme%%"  + "%%app.apiroot.uri.host%%" + ":" + "%%app.apiroot.uri.port%%" + "%%app.apiroot.uri.path%%"
	});

})();