@import '../../node_modules/@a-ui/core/src/styles/quarks';

:host {
  aui-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}

.app-main {
  &__inner {
    min-height: calc(100vh - #{$footer-height} - 80px);
    margin-top: 80px;
  }

  &__loading {
    height: 80vh;
  }
}
