<aui-header>
  <div auiHeaderLogo>
    <aui-logo
      title="Antwerpen logo."
      link="/"
      src="https://cdn.antwerpen.be/core_branding_scss/5.0.2/assets/images/a-logo.svg"
    >
    </aui-logo>
  </div>
  <div auiHeaderMenuItem>
    <a routerLink="/home" class="a-button o-header__button">Home</a>
  </div>
  <div auiHeaderMenuItem>
    <a routerLink="/protected" class="a-button o-header__button">Protected</a>
  </div>
  <div auiHeaderMenuItem>
    <a routerLink="/about" class="a-button o-header__button">About</a>
  </div>
</aui-header>
<main class="u-wrapper">
  <div class="u-container u-margin-top-xx u-margin-bottom-lg" role="main">
    <router-outlet></router-outlet>
  </div>
</main>
<aui-footer>
  <div auiFooterBottom>
    <aui-subfooter>
      <aui-copyright domain="stad Antwerpen"></aui-copyright>
    </aui-subfooter>
  </div>
</aui-footer>
