<aui-header>
    <div auiHeaderContent>
        <div auiHeaderLogo>
            <a routerLink="/" class="o-header__logo">
                <img src="/assets/gfx/a-logo.svg" />
            </a>
        </div>
    </div>
</aui-header>

<main class="u-wrapper">
  <div class="u-container u-margin-top-lg u-margin-bottom-lg">
    <h1 class="u-margin-top-xx">{{ title }}</h1>
  </div>
</main>

<aui-footer>
  <div auiFooterBottom>
    <aui-subfooter>
      <aui-copyright domain="Stad Antwerpen - Digipolis"></aui-copyright>
    </aui-subfooter>
  </div>
</aui-footer>
