<div col="col-xs-12">
  <h1>Hello Starter app!</h1>
</div>
<div>
  <h2 class="h4 u-margin-top">Handy resources</h2>
  <ul class="a-list">
    <li>Antwerp UI homepage: <a href="https://antwerp-ui.digipolis.be/home" target="_blank" rel="noopener noreferrer" class="has-icon-right">https://antwerp-ui.digipolis.be<i class="fa fa-external-link"></i></a></li>
    <li>Antwerp UI components: <a href="https://digipolisantwerp.github.io/antwerp-ui_angular/" target="_blank" rel="noopener noreferrer" class="has-icon-right">https://digipolisantwerp.github.io/antwerp-ui_angular/<i class="fa fa-external-link"></i></a></li>
    <li>Core Branding: <a href="https://a-ui.github.io/core_branding_scss/" target="_blank" rel="noopener noreferrer" class="has-icon-right">https://a-ui.github.io/core_branding_scss/<i class="fa fa-external-link"></i></a></li>
  </ul>
</div>
