@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div style="margin: auto 2rem;">
	<p>
		<h1>Access denied!</h1>
		<br/>
		<h5>You don't have the required permissions to access this application.</h5>
	</p>
</div>

@{
}
