<div class="u-container u-margin-top u-margin-bottom">
  <div class="row">
    <div class="col-xs-12">
      <h3>Welcome</h3>
      <br />
      <p>
        This is a very small sample page that uses acpaas ui components and styles which you can use as a starting point to build your own page.<br />
        This page comes in three flavor: ACPaaS, Digipolis and Antwerp.<br />
        To switch between the three:
      </p>
      <ol>
        <li>See <code>styles.scss</code> in the styles folder.
        <li>There are some images that can be used as favicon and logos in the <code>assets/images</code> folder.
        <li>Take one of the above or anotther logo and make sure to change the refernce in <code>app.component.html</code>.</li>
        <li>Should the footer say Digipolis, Stad Antwerpen or something else ?</li>
      </ol>
      Once you decide on which style to use you can remove the part you dont need.
      <br />
      <p>
        You can add your own non-component-specific styles in the <code>styles/main.scss</code> file.
      </p>
      <br />
      <p>Below are some usefull links when starting a new Angular project using acpaas components.<br/> Be sure to check out the github of the components as it includes documentation on them.</p>
      <ul class="myapp-list">
        <li><a target="_blank" href="https://acpaas-ui.digipolis.be/docs/angular">Acpaas UI Home - Angular</a></li>
        <li><a target="_blank" href="https://acpaas-ui.digipolis.be/docs/design-style-kits/">Branding documentation</a></li>
        <li><a target="_blank" href="https://digipolisantwerp.github.io/acpaas-ui_angular/modules/">Some live examples</a></li>
        <li><a target="_blank" href="https://github.com/digipolisantwerp/acpaas-ui_angular">Github of the <b>components</b>, including <b>documentation</b></a></li>
      </ul>
      Have fun!
    </div>
  </div>
</div>
