{
    "Name": "StarterKit",
    "FileTarget": 
    {
        "Name": "StarterKitLogFile",
        "Path": "%%log.windows.path%%",
        "FileName": "starterkit.log",
        "Layout": "${date:format=yyyy-MM-dd HH\\:mm\\:ss.fff} ${message}",
        "Level": "%%log.level%%"
    }
}